/* 4. 29
  민석 :: Font LocalFile 설정
*/

@font-face 
{
    font-family: "Spoqa-Light";
    src: local("Spoqa-Light"),
      url("../Font/Spoqa-Light.ttf") format("truetype"),
      url("../Font/Spoqa-Light.otf") format("opentype")
}
  
@font-face 
{
    font-family: "Spoqa-Regular";
    src: local("Spoqa-Regular"),
      url("../Font/Spoqa-Regular.ttf") format("truetype"),
      url("../Font/Spoqa-Regular.otf") format("opentype")
}

@font-face 
{
    font-family: "Spoqa-Medium";
    src: local("Spoqa-Medium"),
      url("../Font/Spoqa-Medium.ttf") format("truetype"),
      url("../Font/Spoqa-Medium.otf") format("opentype")
}

@font-face 
{
    font-family: "Cafe24";
    src: local("Cafe24"),
      url("../Font/Cafe24.ttf") format("truetype")
}